<!Doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/main_style.css') }}">-->
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bg.css') }}">
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#">Furniture</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Category</a>
          </li>
          {% for ddItem in dropdown_items %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{  }}" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ ddItem['name'] }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <ul class="nav flex-column">
                      {% for item in ddItem['items'] %}
                      <li class="nav-item">
                        <a class="nav-link" href="#">{{ item['name'] }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <!--  /.container  -->
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search"
          aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0"
          type="submit">Search</button>
      </form>

    </nav>
    <!-- Bootstrap JS -->
    <script
      src="{{ url_for('static', filename='bootstrap/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script
      src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Font Awesome JS (for icons) -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% block body %}{% endblock %}
    <div id="footer">
      <footer>
        Copyright 2020
      </footer>
    </div>
  </body>
</html>