<!Doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/main.css') }}">-->
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/bg.css') }}">
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
    </style>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i
            class="fa-solid fa-circle-user"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            {% for category, data in dropdown_items.items() %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ category }}
              </a>
              <ul class="dropdown-menu">
                {% for item in data['items'] %}
                <li>
                  <a class="dropdown-item nav-link"
                    href="Item/{{ category }}/{{ item['name'] }}#{{ item['id'] }}">
                    {{ item['name'] }}
                  </a>
                </li>
                {% endfor %}
                <!--  /.container  -->
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
        <li class="pfp nav-item">
          <a class="nav-link" href="#"><i class="fas fa-user"></i></a>
        </li>
      </div>
    </nav>
    <!-- Bootstrap JS -->
    <script
      src="{{ url_for('static', filename='bootstrap/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script
      src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <!-- JQuery -->
    <script
      src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <!-- Font Awesome JS (for icons) -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% block body %}{% endblock %}
    <div id="footer">
      <footer>
        Copyright 2020
      </footer>
    </div>
  </body>
</html>