<div class="col-md-4 col-sm-6 col-xs-6">
  <!--product_in_listingEX-->
  <div class="product-thumb">
    <div class="image">
      <div class="oct-discount-box">
        <div class="oct-discount-item">-10%</div>
      </div>
      <div class="oct-sticker-box">
        <div class="oct-sticker-item"
          style="color: #fafafa; background: #06b806;">Credit</div>
      </div>
      <a href="https://concepto.com.ua/en/bright-grey-marble">
        <img
          src="https://concepto.com.ua/image/cache/catalog/products/Concepto/01Tables/bright/bright-grey-marble-07-340x340.jpg"
          class="img-responsive lozad"
          alt="Bright Grey Marble ceramics table 102-142 cm "
          title="Bright Grey Marble ceramics table 102-142 cm "
          data-loaded="true">
      </a>
    </div>
    <div>
      <div class="caption">
        <p class="cat-model">Vendor code: <span>DT505CR-GREY MARBLE</span></p>
        <div class="h4"><a
            href="https://concepto.com.ua/en/bright-grey-marble">Bright Grey
            Marble ceramics table 102-142 cm</a></div>
        <div class="rating">
          <span class="fa fa-stack"><i class="fa fa-star-o"
              aria-hidden="true"></i></span>
          <span class="fa fa-stack"><i class="fa fa-star-o"
              aria-hidden="true"></i></span>
          <span class="fa fa-stack"><i class="fa fa-star-o"
              aria-hidden="true"></i></span>
          <span class="fa fa-stack"><i class="fa fa-star-o"
              aria-hidden="true"></i></span>
          <span class="fa fa-stack"><i class="fa fa-star-o"
              aria-hidden="true"></i></span>
          <span class="oct-count-reviews"><i class="fa fa-comment"
              aria-hidden="true"></i> 0</span>
        </div>
        <hr>
        <div class="cat-box-effect">
          <div class="cat-box-effect-inner">

            <p class="price">
              <span class="price-new">15 829 грн</span> <span
                class="price-old">17 588 грн</span>
            </p>
            <div class="cart">
              <a class="button-cart oct-button current-link" title="Add to Cart"
                onclick="get_oct_popup_add_to_cart('5327', '1');"><i
                  class="fa fa-shopping-basket" aria-hidden="true"></i> <span
                  class="hidden-xs">Add to Cart</span></a>
              <a onclick="get_oct_popup_add_to_wishlist('5327');"
                title="Add to Wish List"
                class="wishlist oct-button current-link"><i class="fa fa-heart"
                  aria-hidden="true"></i></a>
              <a onclick="get_oct_popup_add_to_compare('5327');"
                title="Compare this Product"
                class="compare oct-button current-link"><i class="fa fa-sliders"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <p class="oct-product-stock"><span class="hidden-xs"></span> <span
            style="font-weight:bold;color:#66aa00">In stock</span></p>
        <div class="oct-additional-info">
          <p class="oct-product-desc">Bright Grey Marble ceramic table review

            The Bright table is an etandable dining table with a tabl..</p>
        </div>
      </div>
    </div>
  </div>
</div>